#import os.path

#from lib import layout


#with layout.html()
    $layout.head('JavaScript')
    #with layout.body(
        os.path.splitext(os.path.basename(__file__))[0],
        '',
    ):

    #end with
#end with
