#import os.path

#from lib import layout


#with layout.html()
    $layout.head('Websites')
    #with layout.body(
        os.path.splitext(os.path.basename(__file__))[0],
        "Here are a few of the websites I\'ve designed and programmed.",
    ):
        <h2 class="header">
            <a href="http://www.ipnow.org/" target="_blank" title="IPNow.Org | Your IP Address Now" name="ipnow">IPNow.Org</a>
        </h2>
        <a href="http://www.ipnow.org/" target="_blank" class="float-right">
            <img class="right-image" src="http://www.ipnow.org/images/1/153E7E/DDDDFF/newmyinfo.jpg" alt="IPNow.Org | Your IP Address Now" />
        </a>
        <p>
            <a href="http://www.ipnow.org/" target="_blank">IPNow.Org</a> is a website
            that tells you information that a web server can determine from headers
            that your browser sends.  Some of the things that it detects includes
            IP address, browser, operating system, language, port, etc.  The cool
            thing about IPNow.Org is you can create a customized image displaying
            some of this information.  You can place this image on your website to
            display detected information dynamically.
        </p>
        <h2 class="header">
            <a href="http://gtalk.anthonysottile.com/" target="_blank" name="gtalk">Google Talk Themes</a>
        </h2>
        <a href="http://gtalk.anthonysottile.com/" target="_blank" class="float-right">
            <img class="right-image" width="126" src="http://static.flickr.com/36/125260664_99252b58bc.jpg" alt="" />
        </a>
        <p>
            <a href="http://gtalk.anthonysottile.com/" target="_blank">Gtalk.AnthonySottile.Com</a> is
            a website showing some Google Talk themes I have written.  The themes
            allow you to change the appearance of the Google Talk desktop client.
            The themes are implemented in HTML and CSS.  Through some crafty
            JavaScript, I've also worked in some scripting in the themes to
            replace the default Google Talk emoticon implementation.
        </p>
        <h2 class="header">
            <a href="http://www.umich.edu/~chemh215/W10HTML/SSG1/ssg3/index.html" target="_blank" name="triflic">Triflic Catalyzed Cyclization</a>
        </h2>
        <a href="http://www.umich.edu/~chemh215/W10HTML/SSG1/ssg3/index.html" target="_blank" class="float-right">
            <img class="right-image" width="200" src="http://www.umich.edu/~chemh215/W10HTML/SSG1/ssg3/images/reaction.png" alt="" />
        </a>
        <p>
            <a href="http://www.umich.edu/~chemh215/W10HTML/SSG1/ssg3/index.html" target="_blank">Triflic Catalyzed Cyclization</a>
            was an HTML project for Chemistry 215 Double Honors Structured Study
            Group.  Our section's theme was the seven deadly sins.
        </p>
    #end with
#end with
